# Source files
*.tsx
tsconfig.json
rollup.config.js

# Development files
parser.js
map.svg

# Build artifacts
node_modules/
.DS_Store
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

package-lock.json
yarn.lock

dist/index.esm.js.map
dist/index.cjs.js.map
dist/index.umd.js.map
dist/index.js.map
